.subHeader {
    background-color: #ff9999;
    padding: 8px 8px 8px 8px;
    text-align: center;
    font-size: 1rem;
}

.movieFilters {
    display: flex;
    flex-direction: row;
}

.releasedMovies {
    width: 76%;
    margin: 16px;
}

.filters {
    width: 24%;
    margin: 16px;
}