.sub-header {
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

.movie-filters {
    display: flex;
    flex-direction: row;
}

.released-movies {
    width: 76%;
    margin: 16px;
}

.filters {
    width: 24%;
    margin: 16px;
}

.movie-poster-image-link {
    display: block;
    height: 100%;
    width: 100%
  }

.movie-poster-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }