.backToHome {
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
    height: 24px;
}

.movieInfo {
    display: flex;
    flex-direction: row;
    overflow: visible;
}

.moviePoster {
    width: 20%;
    overflow: hidden;
}

.movieDetails {
    width: 60%;
    clear: both;
}

.movieRating {
    width: 20%;
}

.backIcon {
    vertical-align: middle
}

.plotAndTrailer {
    margin-top: 16px;
}

.artistsHeading {
    margin-top: 16px;
    margin-bottom: 16px;
}

