.backToHome {
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
    height: 24px;
}

.movieInfo {
    display: flex;
    flex-direction: row;
}

.moviePoster {
    width: 20%;
}

.movieDetails {
    width: 60%;
}

.movieRating {
    width: 20%;
}

