.back-to-home {
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
    height: 24px;
}

.movie-info {
    display: flex;
    flex-direction: row;
    overflow: visible;
}

.movie-poster {
    width: 20%;
    overflow: hidden;
}

.movie-details {
    width: 60%;
    clear: both;
}

.movie-rating {
    width: 20%;
}

.back-icon {
    vertical-align: middle
}

.plot-trailer {
    margin-top: 16px;
}

.artists-header {
    margin-top: 16px;
    margin-bottom: 16px;
}

